
  <h2>Import CSV file using NodeJS and MongoDB</h2> 

   <a href='javascript:void(0)' class='btn btn-primary' id='importdata')>Import CSV </a> 
   &nbsp;&nbsp;&nbsp;
   <a href='javascript:void(0)' class='btn btn-primary' id='fetchdata') >Fetch Data</a>

   <!-- p#message.alert.alert-success(style='display:none') -->
  <table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Manufacturer</th>
    </tr>
    <tr>
      <td colspan="3">Click on <strong>Import CSV</strong>button to import and save data to MongoDB. <br />Click on <strong>Fetch Data</strong> button to display data from database </td>
    </tr>
  </table>
   