<!--<script src="js/query.js"></script>-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    body{font-family: Comic Sans MS;position:fixed;top:0;bottom:0;left:0;right:0;}
    
    .modal {
        display: none;      /* Hidden by default */
        position: fixed;    /* Stay in place */
        z-index: 1;         /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;        /* Full width */
        height: 100%;       /* Full height */
        overflow: auto;     /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);                 /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);}          /* Black w/ opacity */

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;           /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%;}                /* Could be more or less, depending on screen size */
    
    /* The Close Button */
    .close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}

    .close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}

    .submitBtn button {
        border-radius: 15px;
        padding: 13px 100px;
        background-color:black;
        border-color: transparent;
        color: white;
        margin: 20px 700px;
        display: inline;}

    .submitBtn button:hover, button:focus, button:active{background-color:lightgrey;color: black;}
    
    .textNdocBtn button {
        background-color: white;
        text-align: center;
        border-radius: 10px;
        padding: 8px;
        width: 12%;
        margin-left: 1px;
        margin-right: 15px;
        border-style:solid;
        border-color: #aaa;
        border-width: 0.5px;}

    .textNdocBtn button:hover, button:focus, button:active{background-color: lightsteelblue;color: white;}

    .optiondiv{margin-left: 50px;}
</style>

<!-- ========================================   BODY   ======================================== -->

<body>

<!-- ==================   WORD COUNT   ================== -->

<script>
    $(document).ready(function () {
        $("#inputTextToSave").on('keyup', function () {
            var words = this.value.length; //count characters
            //var words = this.value.match(/\S+/g).length; //count words
            if (words > 500) {
                // Split the string on first 200 words and rejoin on spaces
                var trimmed = $(this).val().split(/\s+/, 500).join(" ");
                // Add a space at the end to make sure more typing creates new words
                $(this).val(trimmed + " ");
            }
            else {
                $('#display_count').text(words);
                $('#word_left').text(500 - words);
            }
        });
    }); 
</script>

<!-- ==================   TEXT & DOCUMENT button   ================== -->

<div class="textNdocBtn"  style="margin-bottom: 1%;">
    <button>Text</button>
    <button onclick="modelUploadFile()">Documents</button></div>

<!-- ==========   TRANSLATOR text field & LANGUAGE option  ========== -->

<div class="row">
    <div class="col-sm">
        <div class="md-form amber-textarea active-amber-textarea" style="margin-right: 40px;">
            <textarea id="inputTextToSave" class="md-textarea form-control" rows="13" cols="85" placeholder="Enter text here..." style="border-color: black; border-style: solid; border-radius: 6px;"></textarea>
            <span id="display_count">0</span>/ 500 characters</div></td></div>
    <div class="col-sm">
        <div class="optiondiv">
            <!-- views/option.ejs -->
            <% include ../views/option %>
</div></div></div>

<!-- ======================   ANALYZE button   ====================== -->

<div class="row"><div class="col-sm">
    <div class="submitBtn"><button onclick="return submitText()"> ANALYZE </button></div>
</div></div>

<!-- ============   POST the TRANSLATE TEXT to server   ============= -->

<script>
    function submitText(){
        var inputText = document.getElementById('inputTextToSave').value;
        if (inputText == null){
            alert("Please Enter Text !!!");
            return false;
        }else{
            $.ajax({
                url: '/inputTranslate',
                type: "POST",
                dataType: "json",
                data: { inputText },
                cache: false,
                success: function(data) {
                    console.log(data + "gaodim");
                },
                error: function(jqxhr, status, error) {
                    console.log("X gaodim");
                    console.log('jqxhr: ', jqxhr);
                    console.log('status: ', status);
                    console.log('error', error);
                },});}}
</script>

<!-- ===============   POP OUT window for UPLOAD DOC   =============== -->

<div id="myModal" class="modal" >
    <div class="modal-content">
        <span class="close">&times;</span>
        <form name="form" class="sta-main-form open" action="/uploadfile" method="post" enctype="multipart/form-data">
            <div style="margin-left:30%">
                <label for="file" style="font-size: xx-large;">Choose a document</label></br>
                <p style="margin-left: 6%;">Upload a txt, csv or xml file only</p>
                <input id="file" type="file" name="file" style="margin-left: 10%;" /></br></br>
                <button type="submit" value="upload" onclick="return validate();" class="btn btn-info btn-rounded" style="background-color:lightsteelblue;border-color:transparent;color: black;width:30%;margin-top:0.5%;margin-left:15%">
                Upload File</button></div></form>

        <script>
            function validate() {
                var file = form.file.value;
                var reg = /(.*?)\.(txt|csv|xml|)$/;
                if (!file.match(reg)) {
                    alert("Invalid File");
                    return false;
                }else 
                    alert("File Uploaded");
                var fileToLoad = document.getElementById("file").files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var textFromFileLoaded = fileLoadedEvent.target.result;
                    document.getElementById("inputTextToSave").value = textFromFileLoaded;};
                fileReader.readAsText(fileToLoad, "UTF-8");}

            function modelUploadFile() { modal.style.display = "block";}

            var modal = document.getElementById("myModal");             // Get the modal
            var btn = document.getElementById("myBtn");                 // Get the button that opens the modal
            var span = document.getElementsByClassName("close")[0];     // Get the <span> element that closes the modal
            span.onclick = function () {modal.style.display = "none";}  // When the user clicks on the button, open the modal
                                                                        // When the user clicks on <span> (x), close the modal
            window.onclick = function (event) {                         // When the user clicks anywhere outside of the modal, close it
                if (event.target == modal) { modal.style.display = "none";}}    
        </script>
    </div>
</div>

<!-- ===============   ANALYSIS RESULT DISPLAY   =============== -->

<br>
<div class="row">
    <div class="col-sm" style="border: 2px solid;">
        <h5 style="font-weight: bold;">Subjectivity Analysis</h5>
        <div style="border: 2px solid;">
            <h4>ORIGINAL TEXT</h4>
            <p></p>
        </div>
    </div>
    <div class="col-sm" style="border: 2px solid;">
        <h5 style="font-weight: bold;">Sentiment Analysis</h5>
    </div>

    <!-- With OPTION BUTTON Stay Active When Clicked -->
    <script>
        var header = document.getElementById("transoption");
        var btns = header.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
    
    <!--<div class="outputanalysis">-->
    <!-- views/result.ejs -->
    <!--<% include ../views/result %></div>-->

</body>

<!-- ====================   LOADING EFFECT   =================== -->

<div id="load" class="d-flex justify-content-center" style="visibility: hidden;">
        <div class="spinner-grow text-primary" role="status" style="height: 20px; width: 20px;"></div>&nbsp;&nbsp;
        <div class="spinner-grow text-primary" role="status" style="height: 20px; width: 20px;"></div>&nbsp;&nbsp;
        <div class="spinner-grow text-primary" role="status" style="height: 20px; width: 20px;"></div>
</div>
<script>
    function showLoad(){var x = document.getElementsById("load");x.style = "visibility: visible;";}
</script>

<!--Bring Data To Another Page-->
<!--<script type="text/javascript">jQuery(function($){$('#inputTextToSave').load('result.ejs #tagging');});</script>-->



