<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
        <!-- <img src="/images/sa_icon.png" style="max-width: 25%; max-height: 25%; margin-left: 35%;"> -->
        <img src="/images/sa2_icon.png" style="max-width: 60%; max-height: 60%; margin-left: 20%; margin-bottom: -5%;">

      <h1>Sentiment Analysis WebSite</h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
